.txt{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 350px;
    opacity: 0;
    transition: 0.2s;
    user-select: none;
}
.txt.active{
    opacity: 1;
}

.bt{
    border: 2px solid black;
    height: 50px;
    width: 200px;
    background-color: #cdcdcd;
    transition: 0.3s;
    font-size: medium;
}
.bt:hover {
	font-size: larger;
    background: rgba(205, 7, 7, 0);
	color: #000000;
	box-shadow: inset 0 0 0 3px #000000;
}
.img{
    transform-origin: 100% 100%;
    transform: rotate(0deg);
    border: 7px solid black;
    transition: 0.2s;
}